<template>
	<div>
		<fieldset>
			<label for="category">Add a category:</label>
			<input class="medium" placeholder="category name" type="text" ref="category"
				v-model="category" 
				v-on:keyup.enter="addCategory"
				autofocus
			>
			<input class="small" placeholder="budget" type="text" ref="category"
				v-model="budget" 
				v-on:keyup.enter="addCategory"
				autofocus
			>
			<button @click="addCategory">Add</button>
		</fieldset>
	</div>
</template>

<script>
import config from '../../assets/js/config'

export default {
  name: 'add-category',
	data () {
    return {
    	budget: '',
      category: '',
    }
  },
  methods: {
    /**
     * add a new category and his budget amount
     */
    addCategory () {
      if (this.budget == '') {
        this.budget = 0
      }
      config.db.ref('categories/').push({
        name: this.category,
        budget: parseFloat(this.budget),
        total: 0
      })
      this.category = ''
      this.budget = ''
      this.$refs.category.focus();
    }
  }
}
</script>

<style lang="scss">

</style>