<template>
	<div>
		<add></add>
		<show></show>
	</div>
</template>

<script>
import Show from './Show'
import Add from './Add'
export default {
  name: 'budget',
  components: {
  	Show,
    Add
  },
}
</script>