<template>
	<div>
		<div v-show="loading" class="loader"></div>
		<h3>Totat budget: ${{ totalBudget }}</h3>
		<table v-show="!loading">
			<tbody>
				<tr>
					<th class="small">Delete</th>
					<th>Category name</th>
					<th>Budget amount</th>
          <th>Outflow</th>
				</tr>
				<tr v-for="(category, key) in categories">
					<td class="small"><a @click="removeCategory(key)">X</a></td>
	      	<td>
	      		<input 
	      			v-bind:value="category.name" 
	      			@input="updateCategory(key, $event.target.value)">
	      	</td>
	      	<td>
	      		<input 
	      			v-bind:value="category.budget"
	      			@input="updateBudget(key, $event.target.value)">
	      	</td>
          <td>
            <span>{{ category.total }}</span>
          </td>
	      </tr>
		</table>
	</div>
</template>

<script>
import config from '../../assets/js/config'
export default {
  name: 'show-budget',
  computed: {
    /**
     * get the total budget of all categories
     * @return {int} [total budget]
     */
    totalBudget: function () {
      var budget = 0
      for (var key in this.categories) {
        var obj = this.categories[key]
        budget += obj['budget']
      }
      return budget
    }
  },
  data () {
    return {
      categories: [],
      loading: true
    }
  },
  /**
   * fetch from firebase all info about categories
   * @return null
   */
  created (){
    config.db.ref('categories/').on('value', function (snapshot) {
        this.categories = snapshot.val()
        this.loading = false
    }.bind(this))
  },
  methods: {
  	/**
  	 * remove a category
  	 * @param  {int} key category key
  	 * @return null
  	 */
    removeCategory (key) {
    	config.db.ref('categories/').child(key).remove()
    },
    /**
     * update a category name
     * @param  {int}    key         category key
     * @param  {string} newCategory new category name
     * @return null
     */
    updateCategory: function (key, newCategory) {
      config.db.ref('categories/').child(key).child('name').set(newCategory)
    },
    /**
     * update the budget of a category
     * @param  {int} key       category key
     * @param  {int} newBudget new budget amount
     * @return null
     */
    updateBudget: function (key, newBudget) {
      config.db.ref('categories/').child(key).child('budget').set(parseFloat(newBudget))
    },
  }

}
</script>