.loader {
	animation: spin 2s linear infinite;
    border: 16px solid $light-gray; /* Light grey */
    border-top: 16px solid $blue; /* Blue */
    border-radius: 50%;
    height: 55px;
    position: absolute;
    left: 50%;
    width: 55px;
    
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}