<template>
	<div class="overlay">
    <button type="button" @click="login()">Connexion</button>
	</div>
</template>

<script>
import config from '../../assets/js/config'

export default {
  created () {
    config.firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        this.$router.push({ name: 'home'})
      }
    }.bind(this))
  },
  methods: {
    login () {
      config.firebase.auth().signInWithPopup(config.provider).then(function (result) {
        var user = result.user
      })
    }
  }
}
</script>