<template>
	<div>
		<ul>
			<li>Open/close the menu: O</li>
			<li>Navigate to Budget: B</li>
			<li>Navigate to transaction: T</li>
		</ul>
	</div>
</template>

<script>
export default {
  name: 'shortcut'
}
</script>