<template>
	<div class="sidebar">
		<div class='title'>
      Budget
  	</div>
  	<ul class='nav'>
	    <li>
	      <router-link :to="{ name: 'home'}" exact>Home</router-link>
	    </li>
	    <li>
        <router-link :to="{ name: 'budget'}" exact>Budget</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'transaction'}" exact>Transactions</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'shortcut'}" exact>Shortcut list</router-link>
      </li>
	    <li v-if="!userName">
	      <router-link :to="{ name: 'login'}" exact>Login</router-link>
	    </li>
	    <li v-else>
	    	<router-link :to="{ name: 'account'}" exact>{{ userName }}</router-link>
	    </li>
	  </ul>
	</div>
</template>

<script>
export default {
  name: 'sidebar',
  computed: {
    userName: function () {
      return localStorage.getItem('userName')
    }
  }
}
</script>

<style lang="scss">
.sidebar {
  position: absolute;
  width: 220px;
}
.title {
  background: #2a2a2a;
  border-bottom: 1px solid #222;
	color: #eee;
  font-size: 16px;
  letter-spacing: 7px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; 
}
.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;

  &:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
  }

  &:hover {
    background: #444;
    cursor: pointer;
  }

  &.router-link-active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: #444;
  }
}
</style>