<template>
  <div id="app" class="wrapper">
  	<sidebar></sidebar>
    <div v-bind:class="[open ? 'isOpen' : '', 'container']">
    	<a class='button' v-on:click="toggleSidebar()"></a>
      <div class="content">
        <router-view></router-view>
      </div>
    </div>
 
  </div>
</template>

<script>
import Sidebar from './components/Sidebar'
import config from './assets/js/config'

export default {
  name: 'app',
  components: {
    Sidebar
  },
  data () {
    return {
      item: '',
      items: [],
      open: false
    }
  },
  created: function () {
    window.addEventListener('keyup', function(event) {
      if(event.target.type != 'text'){
        // press b to navigate to budget
        if (event.keyCode == 66) { 
          this.$router.push({ name: 'budget'})
        }
        // press o to open the menu
        if (event.keyCode == 79) { 
          this.toggleSidebar()
        }
        // press t to navigate to transaction
        if (event.keyCode == 84) { 
          this.$router.push({ name: 'transaction'})
        }
      }
    }.bind(this))
  },
  methods: {
    toggleSidebar () {
      this.open = ! this.open
    }
  },
  watch: {
    $route () {
      this.open = false
    }
  }
}
</script>

<style lang="scss">
body {
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  min-height: 100%;
}
.container {
  flex: 1;
  padding: 30px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .3s;
}

.container.isOpen {
  transform: translate3d(220px,0,0);
}

.content {
  margin-top: 30px;
}

.button {
  color: $base-font-color;
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}
</style>
