<template>
	<div>
		<fieldset>
			<label for="category">Add a transaction:</label>
			<input class="medium" placeholder="payee" type="text" ref="payee"
				v-model="payee" 
				v-on:keyup.enter="addTransaction"
				autofocus
			>
      <input class="small" placeholder="$" type="text"
        v-model="amount" 
        v-on:keyup.enter="addTransaction"
        autofocus
      >
			<!--<select class="medium" v-model="selected">
			  <option v-for="(category, key) in categories" v-bind:value="category.name">
			    {{ category.name }}
			  </option>
			</select>-->
      <select id="category" class="medium" v-on:change="changeSelectedCat($event.target.value)">
        <option value="" disabled selected>Category</option>
        <option v-for="(category, key) in categories" 
                v-bind:value="key">
          {{ category.name }}
        </option>
      </select>
			<button @click="addTransaction">Add</button>
		</fieldset>
	</div>
</template>

<script>
import config from '../../assets/js/config'

export default {
  name: 'add-transaction',
  computed: {
    parseAmount () {
      return parseFloat(this.amount)
    }
  },
	data () {
    return {
      amount: null,
    	categories: [],
    	payee: null,
    	selected_cat_id: null,
      selected_cat_name: null,
      total: 0
    }
  },
  created (){
    config.db.ref('categories/').on('value', function (snapshot) {
    	this.categories = snapshot.val()
    }.bind(this))
  },
  methods: {
    /**
     * add a new transaction
     */
    addTransaction () {
      config.db.ref('transactions/').push({
        amount: this.parseAmount,
        category_id: this.selected_cat_id,
        category_name: this.selected_cat_name,
        payee: this.payee
      })
      // fetch the total of transaction in a category and update it
      config.db.ref('categories/' + this.selected_cat_id).once('value').then(function(snapshot) {
        config.db.ref('categories/').child(snapshot.key).child('total').set(this.parseAmount + snapshot.val().total)
        this.amount = null
        this.payee = null
        this.$refs.payee.focus();
      }.bind(this))
    },
    changeSelectedCat (key) {
      var sel = document.getElementById("category")
      this.selected_cat_name = sel.options[sel.selectedIndex].text
      this.selected_cat_id = key
    }
  }
}
</script>