<template>
	<div>
		<div v-show="loading" class="loader"></div>
		<table v-show="!loading">
			<tbody>
				<tr>
					<th class="small">Delete</th>
					<th>Payee</th>
          <th>Amount</th>
					<th>Category</th>
				</tr>
				<tr v-for="(transaction, key) in transactions">
					<td class="small"><a @click="removeTransaction(key, transaction.category_id, transaction.amount)">X</a></td>
	      	<td>
	      		<input 
	      			v-bind:value="transaction.payee" 
	      			@input="updatePayee(key, $event.target.value)">
	      	</td>
          <td>
            <input 
              v-bind:value="transaction.amount" 
              @input="updateAmount(key, transaction.category_id, $event.target.value)">
          </td>
	      	<td>
            <select v-bind:id="key" v-on:change="updateCategory(key, $event.target.value)">
              <option v-for="(category, key) in categories" 
                      v-bind:value="key"
                      :selected="transaction.category_name == category.name">
                {{ category.name }}
              </option>
            </select>
	      	</td>
	      </tr>
		</table>
	</div>
</template>

<script>
import config from '../../assets/js/config'
export default {
  name: 'show-transaction',
  data () {
    return {
      categories: [],
      transactions: [],
      loading: true,
      selected: null
    }
  },
  /**
   * fetch from firebase all info about transactions and categories list
   * @return null
   */
  created (){
    config.db.ref('transactions/').on('value', function (snapshot) {
        this.transactions = snapshot.val()
        this.loading = false
    }.bind(this))

    config.db.ref('categories/').on('value', function (snapshot) {
      this.categories = snapshot.val()
    }.bind(this))
  },
  methods: {
  	/**
  	 * remove a transaction
  	 * @param  {int} key transaction key
  	 * @return null
  	 */
    removeTransaction (key, category_id, amount) {
    	config.db.ref('transactions/').child(key).remove()

      this.updateTotal(category_id, Math.abs(amount) * -1)
    },
    /**
     * update a transaction payee
     * @param  {int}    key         transaction key
     * @param  {string} newPayee new payee name
     * @return null
     */
    updatePayee: function (key, newPayee) {
      config.db.ref('transactions/').child(key).child('payee').set(newPayee)
    },
    /**
     * update a transaction amount
     * @param  {int} key       transaction key
     * @param  {int} newAmount new transaction amount
     * @return null
     */
    updateAmount: function (key, category_id, newAmount) {
      // fetch old amount to calculate the difference
      config.db.ref('transactions/').child(key).once('value').then(function(snapshot) {
        this.updateTotal(category_id, newAmount - snapshot.val().amount)
      }.bind(this))
      config.db.ref('transactions/').child(key).child('amount').set(parseFloat(newAmount))
    },
    /**
     * update the category of a transaction
     * @param  {int} key       transaction key
     * @param  {int} newCategoryID new category id
     * @return null
     */
    updateCategory: function (key, newCategoryID) {
      var sel = document.getElementById(key)
      config.db.ref('transactions/').child(key).child('category_id').set(newCategoryID)
      config.db.ref('transactions/').child(key).child('category_name').set(sel.options[sel.selectedIndex].text)
    },
    /**
     * update the total of transaction in a category
     * @param  {int} category_id category id
     * @param  {int} amount      amount of the transaction
     * @return null            
     */
    updateTotal (category_id, amount) {      
      config.db.ref('categories/' + category_id).once('value').then(function(snapshot) {
        config.db.ref('categories/').child(snapshot.key).child('total').set(snapshot.val().total + amount)
      }.bind(this))
    }
  }

}
</script>