<template>
	<div>
		<add></add>
		<show></show>
	</div>
</template>

<script>
import Add from './Add'
import Show from './Show'
export default {
  name: 'transaction',
  components: {
    Add,
    Show
  },
}
</script>